html {
	width: 100%;

}

.menu_block{
    position: relative; 
    width: 1030px;
    margin: 0 auto; 
    padding: 0; 
    background-color:  rgba(107, 97, 97, 0.3);
    height: 60px;
    
}
.sf-menu li{
    display: inline-flex;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    position: relative;
    width: 20%;
    
    
}

.sf-menu:hover{
    font-weight: bold;
}
    


body {
	position: relative;
	min-width: 960px;
    background-color: #002141;
    color: #737272;
    font: 14px/20px 'Open Sans', sans-serif;
}



/****Links****/

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}


/*header*/

header {
	display: block;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -ms-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    padding-bottom: 98px;
}



/**Content**/

.content {
    background-color: #fff;
    padding-bottom: 120px;
}


.banner {
    top: -45px;
    position: relative;
}

.banner .label {
    color: #fff;
    position: absolute;
    text-align: center;
    left: 0;
    top: 50%;
    margin-top: -38px;
    right: 0;
    text-transform: uppercase;
}


.banner .label .title {
    font-size: 30px;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.banner .label .price span {
    display: block;
    font-size: 24px;
    padding-top: 3px;
}

.banner a {
    font-size: 14px;
    line-height: 20px;
    color: #c73430;
    text-transform: uppercase;
    display: inline-block;
    background-color: #e5e5e5;
    padding: 5px 18px 4px;
    margin-top: 25px;
    border-radius: 13px;
}




.banners {
    overflow: hidden;
    padding-top: 100px;
}


/**Footer**/

footer {
	display: block;
    padding: 0px 0 60px;
    color: #a3afba;
    font-family: 'Open Sans', sans-serif;
}


.copy {
    float: left;
    padding-top: 44px;
    font-size: 10px;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
}

/*body style*/
.container_12{ position: relative; width: 960px; margin: 0 auto; padding: 0; }
.grid_4,
.grid_12
{ float: left; display: inline; margin-left: 10px; margin-right: 10px; }

/* photos Grid */
.container_12:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.banner_trip{
    top : 10px;
}